
  .container{
  
    margin-right:200px;
    
  }
  
  .users-toggle-button>button{
   background-color: aliceblue;
   color:black;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
   
  
  }
  
  .books-toggle-button>button{
    background-color: aliceblue;
   color:black;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  
  }
  
  .computure-toggle-button>button{
    background-color: aliceblue;
    color:black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

  .data{
    color:black;
    text-align: left !important ;
  }
  .search-box{
    height: 3vh;
    margin-top:2vh
  }
  
.fa{
  height:3vh;
  margin-top:0.5vh;
}