
body{
  background-image: url('https://cdn.pixabay.com/photo/2017/05/11/11/15/workplace-2303851_960_720.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper{
  margin-right:5.0vh;
  justify-content: space-around;
  display: flex;
  align-content: center;
  align-items: center;
  padding-left: 15px;

}
.wrapper>span{
  padding-right:40px;
}
.container-child {
  display:grid;
  grid-template-columns: auto auto auto;
  
}


.h3{
  flex: 1;
}
.date{
  flex:1;
}



.userz>h1{
  padding-left: 15px;
}
#icon{
  margin: 1rem 1rem;
}
#computerIcon{
  margin: 0rem 1rem;
}

button{
  border: 1px;
  color:rgb(241, 235, 235);
  background-color: black
}
