body {
  background-image: url("https://cdn.pixabay.com/photo/2020/01/26/11/46/paper-flower-background-4794429_960_720.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper {
  justify-content: space-around;
  display: flex;
  /* align-content: center; */
  align-items: center;
  padding-right: 95px;
}
.wrapper > span {
  padding-right: 40px;
}
.container-child {
  display: grid;
  grid-template-columns: auto auto auto;
}

.h3 {
  flex: 1;
}

.h3 {
  color: black;
  margin-left: 50px;
  font-family: "Varela Round";
}

.userz > h1 {
  padding-left: 15px;
}

#computerIcon {
  margin: 0rem 1rem;
}

button {
  border: 1px;
  color: rgb(241, 235, 235);
  background-color: black;
}
.computer {
  color: black;
  margin-left: 30vh;
}
.button-input {
  margin-right: 50px;
}
.Books {
  color: black;
}

.edit-book-wrapper {
  margin-top: 50px;
}
