/* userz */
.button-input > input {
  margin-top: 10px;
  height: 30px;
}
.button-input > button {
  margin-top: 10px;
  margin-left: 3px;
}
.button-input {
  display: flex;
}
/* addcomp */
.wrapper2 > button {
  margin-top: 10px;
  height: 4vh;
  margin-left: 3px;
}
/* books */
.add-books {
  margin-top: 10px;
  height: 4vh;
  margin-left: 3px;
}
.edit-books {
  margin-top: 10px;
  height: 4vh;
  margin-left: 3px;
}
